path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

}

}

}
path.link.employed, path.link.employs, path.link.hired { /*what's the difference between "formerly employed by", "employed by" and "employs"? two of those are probably the same*/
  stroke: green;
}
path.link.appointed, path.link.reappointed {
  stroke: blue;
}
path.link.complaints, path.link.complaint { /*we have "filed complaints against" and "filed complaints with", these should probably be separated eventually*/
  stroke: red;
}
path.link.subpoened {
  stroke: yellow;
}

circle {
  fill: #ccc;
  stroke: #FFF;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}
