path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.link.employed, path.link.employs, path.link.hired { /*what's the difference between "formerly employed by", "employed by" and "employs"? two of those are probably the same*/
  stroke: #3182bd;
}

path.link.appointed, path.link.reappointed {
  stroke: #31a354;
}

path.link.complaints.with, path.link.complaint.with { /*we have "filed complaints against" and "filed complaints with", these should probably be separated eventually*/
  stroke: #d6616b;
}

path.link.complaints.against, path.link.fired, path.link.subpoenaed {
	stroke-dasharray: 0,2 1;
}

path.link.subpoened {
  stroke: #fd8d3c;
}

circle {
  fill: #ccc;
  stroke: #FFF;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}
.ui-tooltip-content{
	font-size:12px;
}